<head>
  <link rel="stylesheet" href="../colors.css" />
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css" />
  <link
    href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css"
    rel="stylesheet"
    integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN"
    crossorigin="anonymous"
  />
</head>

<nav class="navbar navbar-expand-lg navbar-bg position-fixed w-100 top-0 shadow">
  <div class="container-fluid">
    <a class="navbar-brand" href="../home"><img style="width: 50px" src="../res/logo.png" /></a>
    <span id="navbarToggler" class="navbar-toggler" data-bs-toggle="collapse" data-bs-target="#navbarNav">
      <span id="togglerIcon" class="fa-solid fa-bars fa-lg txt-red"></span>
    </span>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav mx-auto align-items-center justify-content-center">
        <li class="p-2"><a href="../home" class="nav-link">Home</a></li>
        <li class="nav-divider"></li>
        <li class="p-2"><a href="../search" class="nav-link">Search</a></li>
        <li class="nav-divider"></li>
        <li class="nav-item dropdown p-2">
          <a class="nav-link dropdown-toggle" href="#" data-bs-toggle="dropdown">Report</a>
          <ul class="dropdown-menu">
            <li><a class="dropdown-item" href="../my-reports">My Reports</a></li>
            <li><a class="dropdown-item" href="../create">Create</a></li>
          </ul>
        </li>
      </ul>
    </div>
  </div>
</nav>
<div class="p-4 m-3"></div>

<script
  src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
  integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
  crossorigin="anonymous"
></script>
